name: Deploy

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::128959305182:role/GithubOIDCRole
          aws-region: us-east-1

      - name: Install CDK
        run: npm install -g aws-cdk

      - name: Install Infra Dependencies
        working-directory: infrastructure
        run: pip install -r requirements.txt

      - name: CDK Deploy
        working-directory: infrastructure
        run: cdk deploy --require-approval never
